!!!
/[if IE 8 ] <html id="ie8" lang="en-US">
/ [if (gt IE 9)|!(IE)]><!
%html
  / <![endif]
  %head
    = Haml::Engine.new(File.read('./views/head.haml')).render
    %meta{charset: 'UTF-8'}
      %meta{content: 'width=device-width', name: 'viewport'}
        %title Gittens

  %body
    .container.panel{style: "margin-top: 3em; margin-bottom: 3em; border-radius: 1.5em;"}
      - if @error
        = Haml::Engine.new(File.read('./views/error.haml')).render Object.new, repo: @repo, error: @error

      %h1 Gittens
      %h3 ...if your Github repo was a kitten...
      %hr
      .row
        .col-md-7
          %p= Haml::Engine.new(File.read('./views/search_form.haml')).render
          %p= Haml::Engine.new(File.read('./views/random_gitten_button.haml')).render
          - unless @error
            %hr
            %h1 Example Gitten
            %h2= Haml::Engine.new(File.read('./views/gitten_github_link.haml')).render Object.new, gitten: @example
            %hr
            = Haml::Engine.new(File.read('./views/gitten_badge.haml')).render Object.new, gitten: @example
            %hr
            .row
              .col-xs-4= Haml::Engine.new(File.read('./views/gitten_headers.haml')).render
              .col-xs-8= Haml::Engine.new(File.read('./views/gitten_attrs.haml')).render Object.new, gitten: @example
        .col-md-5
          %h3 ABOUT
          = Haml::Engine.new(File.read('./views/about.haml')).render

        %hr{style: "border-color: white;"}
        .text-center
          %a{href: 'https://railsrumble.com/entries/4-gittens', target: '_blank'} Rails Rumble 2015

      -# = Haml::Engine.new(File.read('./views/footer.haml')).render
