!!!
/[if IE 8 ] <html id="ie8" lang="en-US">
/ [if (gt IE 9)|!(IE)]><!
%html
  / <![endif]
  %head
    %link{href: 'http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css', media: 'all', rel: 'stylesheet', type: 'text/css'}
    %meta{charset: 'UTF-8'}
      %meta{content: 'width=device-width', name: 'viewport'}
        %title= "Gitten #{@gitten[:name]}"
  %body
    .container
      %h1
        %a{href: "https://github.com/#{@gitten[:name]}", target: '_blank'}= @gitten[:name]
      %hr
      %img{src: "/badge/#{@gitten[:name]}"}
      -# %p= "[![Gittens](http://gittens.r15.railsrumble.com//badge/#{@gitten[:name]})](http://gittens.r15.railsrumble.com/gitten/#{@gitten[:name]})"
      %hr
      %p
        age:
        - ['newborn', 'kitten', 'teen', 'adult', 'senior'].each do |m|
          %span{class: "label label-#{m == @gitten[:maturity] ? 'primary' : 'default'}"}= m
      %p
        size:
        - ['skinny', 'chubby', 'fat'].each do |m|
          %span{class: "label label-#{m == @gitten[:size] ? 'primary' : 'default'}"}= m
      %p
        contributor diversity:
        - ['black', 'bicolor', 'calico', 'tabby', 'nyan', 'amazing technicolor'].each do |m|
          %span{class: "label label-#{m == @gitten[:contributor_diversity] ? 'primary' : 'default'}"}= m
      %p
        hunger:
        - ['full', 'satiated', 'hungry', 'very hungry', 'near starving', 'starving'].each do |m|
          %span{class: "label label-#{m == @gitten[:hunger] ? 'primary' : 'default'}"}= m
      %p
        activity:
        - ['hibernating', 'comatose', 'sleepy', 'calm', 'alert', 'playful', 'hyperactive'].each do |m|
          %span{class: "label label-#{m == @gitten[:activity] ? 'primary' : 'default'}"}= m
      %p
        amusement:
        - ['slightly amused', 'amused', 'cheshire'].each do |m|
          %span{class: "label label-#{m == @gitten[:amusement] ? 'primary' : 'default'}"}= m

      %hr
      %hr
      %a{href: '/random-gitten', class: 'btn btn-primary'} Give me a random gitten!
