!!!
/[if IE 8 ] <html id="ie8" lang="en-US">
/ [if (gt IE 9)|!(IE)]><!
%html
  / <![endif]
  %head
    = Haml::Engine.new(File.read('./views/head.haml')).render
    %meta{charset: 'UTF-8'}
      %meta{content: 'width=device-width', name: 'viewport'}
        %title= "Gitten #{@gitten[:name]}"
  %body
    .container
      %h1= Haml::Engine.new(File.read('./views/gitten_github_link.haml')).render Object.new, gitten: @gitten
      %hr
      = Haml::Engine.new(File.read('./views/gitten_badge.haml')).render Object.new, gitten: @gitten
      -# %p= "[![Gittens](http://gittens.r15.railsrumble.com//badge/#{@gitten[:name]})](http://gittens.r15.railsrumble.com/gitten/#{@gitten[:name]})"
      %hr
      .row
        .col-md-2= Haml::Engine.new(File.read('./views/gitten_headers.haml')).render
        .col-md-6= Haml::Engine.new(File.read('./views/gitten_attrs.haml')).render Object.new, gitten: @gitten
        .col-md-4
          %p= Haml::Engine.new(File.read('./views/search_form.haml')).render
          %p= Haml::Engine.new(File.read('./views/random_gitten_button.haml')).render
      %hr

    = Haml::Engine.new(File.read('./views/footer.haml')).render
