!!!
/[if IE 8 ] <html id="ie8" lang="en-US">
/ [if (gt IE 9)|!(IE)]><!
%html
  / <![endif]
  %head
    = Haml::Engine.new(File.read('./views/head.haml')).render
    %meta{charset: 'UTF-8'}
      %meta{content: 'width=device-width', name: 'viewport'}
        %title Gittens

  %body
    .container
      - if @error
        = Haml::Engine.new(File.read('./views/error.haml')).render Object.new, repo: @repo

      %h1 If your Github repo was a kitten...
      %hr
      .row
        .col-md-8
          %p= Haml::Engine.new(File.read('./views/search_form.haml')).render
          %p= Haml::Engine.new(File.read('./views/random_gitten_button.haml')).render
          %hr
          %h1 Example Gitten
          %h2= Haml::Engine.new(File.read('./views/gitten_github_link.haml')).render Object.new, gitten: @example
          %hr
          = Haml::Engine.new(File.read('./views/gitten_badge.haml')).render Object.new, gitten: @example
          %hr
          .row
            .col-md-4= Haml::Engine.new(File.read('./views/gitten_headers.haml')).render
            .col-md-8= Haml::Engine.new(File.read('./views/gitten_attrs.haml')).render Object.new, gitten: @example
        .col-md-4
          %h1 ABOUT
          %p
            Mauris ut risus sed nisl sollicitudin varius vel non erat. Phasellus quis nibh urna. Fusce malesuada vestibulum convallis. Fusce hendrerit mollis pretium. Etiam rhoncus erat et ultricies ultricies. Nam ornare vulputate placerat. Aenean sem neque, vehicula sed orci sed, maximus aliquam velit. Vestibulum et nunc nisi. Ut sit amet sollicitudin tellus. Nullam accumsan leo urna, eget iaculis turpis lacinia sit amet. In molestie, justo ut fringilla pellentesque, lectus neque volutpat purus, id placerat est nulla non urna. Etiam lectus dui, feugiat ut tempus et, lacinia vitae ex. Cras dignissim viverra condimentum. Morbi bibendum finibus enim. Cras lobortis sem ut urna tristique, a eleifend felis malesuada.

      = Haml::Engine.new(File.read('./views/footer.haml')).render
